<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Blog - Hamsini Tech Solutions</title>
   <link rel="stylesheet" href="/blogs.css">
</head>
<body>
   <!-- Header -->
  <header>
    <div><strong>Hamsini Tech Solutions</strong></div>
    <div>
      <a href="/">Home</a>
      <a href="/blogs">Blogs</a>
      <a href="/newBatches">New Batches</a>
      <a href="/hire">Hire From Us</a>
    </div>
  </header>

  <!-- Browse by Domains Section -->
  <h1>Browse by <span>Domains</span></h1>

  <div class="grid">
    <a class="card-link" href="/awsDevops">
    <div class="card">
      <img src="/cloud.jpeg" alt="Cloud Computing" />
      <h3>Cloud Computing</h3>
    </div>
    </a>
    
    <a class="card-link" href="/dataAnalytics">
    <div class="card">
      <img src="/DA.jpeg" alt="DevOps" />
      <h3>Data Analytics</h3>
    </div>
    </a>

    <a class="card-link" href="/dataScience">
    <div class="card">
      <img src="/das.jpeg" alt="Data Science" />
      <h3>Data Science</h3>
    </div>
    </a>

    <a class="card-link" href="/react">
    <div class="card">
      <img src="/web.png" alt="Web Development" />
      <h3>Web Development</h3>
    </div>
    </a>
    
    
    <a class="card-link" href="/fullStack">
    <div class="card">
      <img src="/full stacks.jpeg" alt="Full Stack" />
      <h3>Full Stack</h3>
    </div>
    </a>
    
    <a class="card-link" href="/assistance">
    <div class="card">
      <img src="/job.jpeg" alt="Job Assistance" />
      <h3>Job Assistance</h3>
    </div>
    </a>
  </div>
  </body>
</html>